* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: larger;
}

:root {
  --primary-color: #1b461c88;
  --primary-color-none: #1b461c00;
  --primary-color-dark: #388e3c;
  --accent-color: #ff9800;

  --bg-color: #f5f5f5;
  --card-bg-color: #ffffff;
  --text-color: #212121;
  --subtext-color: rgba(117, 117, 117, 0.5);

  --color-1: #1e8fffa6;
  --color-2: #20b2aba8;
  --color-3: #32cd3298;
  --color-4: #acff2f9d;
  --color-5: #ffd90093;
  --color-6: #ff8c00a2;
  --color-7: #ff44008c;
  --color-8: #ff69b493;
  --color-9: #892be288;
  --color-10: #9470db98;
  --color-11: #4683b48c;
  --color-12: #a9a9a98a;
}
