.category-card {
  padding: 8px 12px;
  background: var(--primary-color);
  color: white;
  border-radius: 20px;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  width: 300px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#container-tasks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 800px;
}

app-task {
  padding: 8px 12px;
  background: var(--primary-color);
  color: white;
  border-radius: 12px;
  margin-right: 15px;
  width: 300px;
  height: 250px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#add-task {
  padding: 8px 12px;
  background: var(--subtext-color);
  color: white;
  border-radius: 20px;
  margin-right: 15px;
  cursor: pointer;
  width: 300px;
  height: 20px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#add-task:hover,
app-task:hover,
.category-card:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

button {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
